body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    /*font-family: Quicksand, sans-serif;*/
}

/*.survey-wrap{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #fff;
}*/

.new{
  font-weight: bold;
  font-size: 18px;
  color: #000;
}

.img-fluid{
    max-width: 30%;
    max-height: 100px;
    top: 10px;
    margin-left: 700px;
}
/* 
.logohead{
    position: relative;
} */

.text{
	font-family: Quicksand , sans-serif;
	color: #636363;
	font-size: 18px;
  margin-bottom: 0;
  font-style: normal; 
}

.infotext{
  margin-top: 10px;
  margin-left: 300px;
  width: 100%;
}

.one{
  border: 1px solid #ec5645;
  color: #ec5645;
}

/*.unryddle-text{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}*/

  .vertical-text {
    transform: rotate(270deg);
    transform-origin: left top 0;
    font-family: georgia;
    font-weight: bold;
    font-size: 30px;
    color: #000;
/*    margin-left: 40px;
    margin-top: 15%;*/
  }

  #sidebar{
    margin-bottom: 70px;
  }


.survey-info{
  margin-left: 220px;
  margin-top: 30px;
}

/*dropdown menu styles*/
.panel-default{
    border: 0px;
    border-color: #fff;
}


#panel2 {
    padding: 20px;
    min-width: 70%;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

/*Button Css*/

#end{
  float: right;
  margin-top: 20px;
}

.back{
  margin-top: 40px;
}

#panel2{
  width: 72%;
  margin-top: 40px;
}

.secondset{
  width: 15px;
  margin: auto;
}

.middleset{
  margin-left: 15px;
}

#complete{
  float: right;
  margin-top: 30px;
  margin-right: 5px;
}
